<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Pendientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <ion-item-sliding *ngFor="let lista of deseosService.listas; let i = index" detail class="animated fadeInDown">

    <ion-item>
      <ion-label routerLink="/tabs/tab1/agregar/{{lista.id}}"> {{lista.titulo}} </ion-label>
      <ion-note slot="end">{{lista.items.length}}</ion-note>
    </ion-item>
    <ion-item-options>
      <ion-item-option (click)="borrar(i)" color="danger">
        <ion-icon slot="end" name="trash"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>


  </ion-list>
  <ion-fab (click)="agregarLista()" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
